<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>員工管理系統 - 訂單列表</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>目前訂單列表</h2>
    <table border="1" style="margin: auto; background-color: #ffffff22;">
        <thead>
            <tr>
                <th>購物清單</th>
                <th>總金額</th>
                <th>姓名</th>
                <th>聯絡電話</th>
                <th>取貨日期</th>
                <th>便利商店類型</th>
                <th>便利商店名稱</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                {% for item in order %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
